*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Specific CSS for your home-page
.hero {
  color: $creme;
  background-color: black;
  min-height: 100vh;
  // max-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 1rem;
}
.hero-title-div{
  width: 100%;
  // padding: 3vw;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 0;
}
.hero-title{
  font-family: 'NB';
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 4.7vw !important;
  // padding-top: 22rem;
  line-height: 1.1;
  letter-spacing: .1vw;
  color: #EFEDDC;
  margin: 0;
  padding: 0;
  padding-top: 3rem;
}
.hero-title-mobile{
  display: none;
}

.masterclass-sobre-content{
  padding: 2vw 3vw ;
  margin-top: 2rem;
}

.masterclass-sobre-content p {
  font-family: 'NB';
  font-size: 1.5vw;
  margin-bottom: 2rem;
  line-height: 1.2;
  max-width: 45ch;
}

.masterclass-sobre-content h2{
  font-family: 'NBpro';
  font-weight: bold;
  font-size: 4.2vw;
  margin-bottom: 2.5rem;
  padding-bottom: 0;
  max-width: 14ch;
  line-height: .9;
}

.masterclass-sobre-content span {
  font-family: 'NB';
  font-size: 1vw;
  text-transform: uppercase;
  margin-top: 2px;
}

.hero-arrow-link{
  display: flex;
  justify-content: center;
  width: 100%;
}
.hero-arrow{
  max-width: 3vw;
  margin-top: 3vw;
  margin-bottom: 1.3vw;
  transition: all 0.3s ease-in-out;
}

.hero-arrow:hover {
  opacity: 0.8;
  scale: 1.1
}


@media (max-width: 570px){
  .hero{
    display: grid;
    grid-template-columns: 4fr 5fr;
    padding: 5rem .5rem 2rem 1rem;
    height: auto !important;
    min-height: 100vh;
    gap: .5rem;
  }

  .hero-title-div{
    display: none;
  }

  .hero-title-mobile{
    display: block;
    font-family: 'NB';
    // margin-left: .5rem;
  }

  .hero-title-mobile h1{
    font-family: 'NB';
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .hero-title-mobile-first-line{
    margin-bottom: 2rem;
    max-width: 8ch;
  }
  .hero-title-mobile-second-line{
    max-width: 12ch;
  }
  .masterclass-sobre-content{
    padding: 0 1.6vw;
    margin-top: 0 !important;
  }
  .masterclass-sobre-content p {
    max-width: 30ch !important;
    font-size: .85rem !important;
    margin-bottom: .5rem;
  }
  .masterclass-sobre-content h2 {
    font-size: .85rem !important;
    margin-top: 1.6rem;
    margin-bottom: 0;
    line-height: .4;
  }
  .masterclass-sobre-content span {
    font-size: .65rem !important;
    margin-top: 0;
    line-height: .5;
  }
  .hero-arrow-link{
    display: none;
  }
}






















.video{
  background-color: $creme;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  // min-height: 100vh;
  // padding: 0 1rem;
}

.video-container{
  margin: -2rem 11vw -3rem 11vw;
  height: 0;
  padding-top: 10px;
  padding-bottom: 56.25%;
  position: relative;
}

@media (min-width: 2500px){
  .video-container{
    margin: -11rem 20vw -15rem 20vw;
  }
}

.video-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // border-radius: 30px;
}

.video-description{
  color: $creme;
  display: grid;
  width: 100%;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem 3vw;
  align-items: end;
  margin-bottom: 2vw;
}

.video-description p{
  font-family: 'NB';
  font-size: 1.2vw;
  line-height: 1.125;
  font-weight: normal;
  margin-bottom: 0;

}

.video-description h2{
  font-family: 'NB';
  font-size: 5vw;
  line-height: .85;
  letter-spacing: -0.05em;
  position: relative;
  width: 9ch;
  margin-bottom: 0;
}

// .video-description h2::before{
//   content: 'sobre';
//   position: absolute;
//   font-family: 'NB';
//   font-size: 1.4vw;
//   font-weight: normal;
//   top: 5%;
//   right: 15.5%;
//   letter-spacing: normal;
//   text-transform: downcase;
//   width: 7ch;
// }

// .video-description h2::after{
//   content: 'o professor';
//   position: absolute;
//   font-family: 'NB';
//   font-size: 1.4vw;
//   font-weight: normal;
//   top: 20%;
//   right: 11%;
//   translate: translateX(-50%);
//   letter-spacing: normal;
//   text-transform: downcase;
// }

.video-description .video-description-last-paragraph{
  display: none;
}

@media (max-width: 570px){
  .video-container{
    margin: 1rem;
  }
  .video-description{
    grid-template-columns: 1fr 1fr;
    align-items: start;
    text-align: left;
    grid-gap: 1rem;
    padding: 0 1rem 1rem 1rem;
  }
  // .video-description h2::after{
  //   display: none;
  // }
  // .video-description h2::before{
  //   display: none;
  // }
  // .video-description h2::after{
  //   display: none;
  // }

  .video-description .masterclass-john{
    font-size: 2rem !important;
  }

  .video-description p:nth-child(2),
  .video-description p:nth-child(3) {
    display: none;
  }
  .video-description .video-description-last-paragraph{
    display: block;
    font-size: .9rem;
  }


}

















.sobre{
  background-color: #FFFC59;
  color: black;
  padding: 2.5rem 3vw;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.sobre .sobre-paragraph{
  display: inline-block;
  font-family: 'NB';
  font-size: .85vw;
  line-height: 1.2;
  font-weight: normal;
  align-self: end;
  max-width: 48ch;
  margin-bottom: 0;
}

.sobre-logos{
  display: flex;
  // flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 1.5rem;

  p{
    margin: 0;
    font-size: .7vw !important;
    padding: 0;
    line-height: 1;
    letter-spacing: normal;
  }
}

.sobre img{
  max-width: 100%;
  width: 3.5vw;
  margin-bottom: 4px;
}

@media (max-width: 570px){
  .sobre{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 1.5rem;
    padding: 1.5rem 1rem;
  }
  .sobre-paragraph{
    max-width: 40ch !important;
    position: relative;
    margin: 0 auto !important;
    font-size: .6rem !important;
  }

  .sobre-paragraph::after{
    content: '';
    position: absolute;
    width: 130%;
    height: 1px;
    background-color: black;
    bottom: -1.6rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .sobre-logos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    align-items: end;
  }
  .sobre-logos p{
    grid-column: 1 / span 2;
    font-size: .6rem !important;
    margin: .5rem 0;

  }
  .sobre-logos img{
    scale: 3;
    margin: 0 .5rem;
  }


  .seiva-logo{
    justify-self: end;
    align-self: end;
    margin: 0 .5rem -.6rem .5rem !important;
    // border: 1px red solid;
  }
}

// MEDIA QUERIES

// FOR
// SMARTPHONES

// @media (max-width: 535px) {

//   // HERO
//   .hero{
//     height: auto;
//     padding-top: 5rem;
//     display: grid;
//     grid-template-columns: 5fr 6fr;
//     align-items: start;
//   }
//   .hero .hero-title{
//     display: none;
//   }
//   .hero-title-mobile{
//     display: inline-block;
//   }

//   .hero-title-mobile-first-line{
//     max-width: 8ch;
//     margin: 1rem 0;

//   }
//   .hero-title-mobile-first-line,
//   .hero-title-mobile-second-line{
//     display: inline-block;
//     font-family: 'NB';
//     font-weight: bold;
//     text-transform: uppercase;
//     text-align: left;
//     font-size: 1.25rem;
//     line-height: 1.1;
//     color: $creme;
//   }

//   .hero-description{
//     flex-direction: column;
//     gap: 0;
//     font-size: 1rem;
//     margin-bottom: 0px;
//   }

//   .hero-arrow{
//     display: none;
//   }
//   // VIDEO

//   .video-container{
//     // padding: 0;
//   }

//   .video-description{
//     grid-template-columns: 1fr 1fr;
//     align-items: start;
//     text-align: left;
//     grid-gap: 1rem;
//     padding: 0 1rem 1rem 1rem;
//   }
//   .video-description p:first-child::after{
//     display: none;
//   }
//   .video-description h2::after{
//     display: none;
//   }

//   .video-description .masterclass-john{
//     font-size: 2rem !important;
//   }

//   .video-description p:nth-child(2),
//   .video-description p:nth-child(3) {
//     display: none;
//   }
//   .video-description .video-description-last-paragraph{
//     display: block;
//   }



//   //
//   // SOBRE
//   //
//   .sobre{
//     grid-template-columns: 1fr;
//     text-align: center;
//     grid-gap: 1.5rem;
//     padding: 2rem 1rem;
//   }
//   .sobre-paragraph{
//     max-width: 33ch;
//     position: relative;
//     margin: 0 auto;
//   }

//   .sobre-paragraph::after{
//     content: '';
//     position: absolute;
//     width: 130%;
//     height: 1px;
//     background-color: $creme;
//     bottom: -2rem;
//     left: 50%;
//     transform: translateX(-50%);
//   }

//   .sobre-logos{
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     margin-top: 1.5rem;
//   }
//   .sobre-logos p{
//     grid-column: 1 / span 2;
//   }
//   .sobre-logos img{
//     scale: .9;
//   }
//   .seiva-logo{
//     justify-self: end;
//   }
// }

// // FOR
// // TABLETS

// @media (max-width: 768px) {

//   .masterclass-john{
//     font-size: 2rem !important;
//   }
//   .video-description h2::after{
//     display: none;
//   }
// }



// FOR
// DESKTOPS
@media (min-width: 1100px) {
  // .video-description .masterclass-john{
  //   font-size: 4vw !important;
  // }
  // .video-description h2::after{
  //   font-size: 1vw;
  //   right: 15%;
  // }
}

@media (min-width: 1400px) {
  // .hero, .video, .sobre, .video-container, .video-container video{
  //   max-width: 1400px;
  // }
  // .video{
  //   margin: 0;
  // }

  //
  // HERO
  //

  // .hero .hero-title{
  //   font-size: 4.2rem;
  // }

  // .hero .hero-description{
  //   width: inherit;
  // }

  //
  // VIDEO
  //

  // .video-description .masterclass-john{
  //   font-size: 5vw !important;
  // }

  // .video-description h2::after{
  //   font-size: 1.4vw;
  //   right: 15%;
  // }

  //
  //  ALL PARAGRAPHS
  //
  // .hero p, .video p, .sobre p{
  //   font-size: 1.1rem;
  //   // line-height: 1.2;
  // }
}

// @media (min-width: 2400px) {
//   .video-description .masterclass-john{
//     font-size: 6rem !important;
//   }
//   .video-description h2::after{
//     font-size: 1.6vw;
//   }
// }
