.workshop-container{
  display: flex;
  font-family: 'NB';
  min-height: 100vh;
}

// PARTE ESCURA - DETALHES

.workshop-left{
  flex-basis: 65%;
  background-color: black;
  color: #EEECDD;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  img{
    max-width: 100%;
    width: 50%;
  }
}

.workshop-left .masterclass-head span{
  font-family: 'NBpro';
  font-weight: bold;
  font-size: 2VW;
  color: black;
  padding: .3rem .8rem;
  background-color: #FFFC59;
  display: inline-block;
  flex: 1;
  margin-left: -.8rem;
  margin-top: 1rem;
}

.vida-do-livro-apresenta{
  max-width: 80%;
}

.masterclass-head{
  max-width: 80%;
}

.masterclass-headline{
  font-family: 'CheltenhamBT';
  // font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
  color: $green;
}

.masterclass-title{
  font-family: 'NB';
  font-size: 7.2vw;
  margin-bottom: 1rem;
  // max-width: 40%;
  line-height: .9;
  margin: 1.5rem 0 1rem 0;
  max-width: 7ch;
}
.masterclass-subtitle{
  // max-width: 35%;
  font-family: 'NB';
  font-size: 2.6vw;
  line-height: 1.1;
  margin: 0;
  max-width: 19ch;
}
.masterclass-paragraphe{
  max-width: 35ch;
  font-family: 'NB';
  font-size: 1.8vw;
  color: $creme;
  line-height: 1.1;
  margin-top: 1rem;
}



// PARTE CLARA - INSCRIÇAO

.workshop-right{
  flex-basis: 35%;
  background-color: $creme;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vw;
}

.workshop-right .workshop-signup{
  display: flex;
  flex-direction: column;
}
.workshop-right .workshop-signup-head{
  text-align: center;
  font-family: 'NB';
  font-size: 2vw;
  max-width: 15ch;
  align-self: center;
  margin-bottom: 1rem;
}
.workshop-right form{
  display: flex;
  flex-direction: column;
}
.workshop-right input{
  border-radius: 20px;
  border: 1px solid black;
  background-color: transparent;
  padding: .7rem 1.5rem;
  font-size: 1vw;
  font-family: 'NB';
  margin-bottom: .5rem;
  flex-grow: 1;
}

.workshop-right input:nth-child(5){
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: black;
  color: white;
  font-family: 'NB';
  font-size: 1rem;
  border-radius: 20px;
}

.workshop-right img{
  max-width: 100%;
  margin-bottom: -3vw;
  // width: 80%;
}


@media (max-width: 768px){
  .workshop-container{
    flex-direction: column;
    text-align: center;
  }

  // LEFT SIDE
  .workshop-left{
    flex-basis: 100%;
    align-items: center;
    justify-items: center;

    img{
      width: 70%;
    }
  }
  .masterclass-headline{
    font-size: 1.2rem;
    margin-bottom: .5rem;
  }
  .masterclass-head{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
      width: 60%;
    }
  }
  .workshop-left .masterclass-head span{
    font-size: 1rem;
    padding: .2rem .5rem;
  }
  .masterclass-title{
    font-size: 4rem;
    margin-bottom: .4rem;
  }
  .masterclass-subtitle{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    // max-width: 80%;
  }
  .masterclass-paragraphe{
    max-width: 100%;
    font-size: .9rem;
    max-width: 34ch;
  }



  // RIGHT SIDE
  // .workshop-right{
  //   flex-basis: 100%;
  // }
  .workshop-right .workshop-signup-head{
    max-width: 15ch;
    text-align: left;
    align-self: start;
    font-size: 1.5rem;
    padding: 1rem 0 0 1rem;
    margin-bottom: 0;
  }
  // .workshop-right input:nth-child(4){
  //   flex-basis: auto;
  // }

  .workshop-signup form{
    display: grid;
    max-width: 100%;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    padding: 1rem;
  }
  .workshop-signup form #lead_name,
  .workshop-signup form #lead_email{
    grid-column: 1 / span 1;
    font-size: .8rem;
  }
  .workshop-signup form .workshop-form-submit{
    // grid-column: 1 / span 1;
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: center;
    font-size: .75rem;
    margin-left: .5rem;
    padding: .75rem 1rem;

  }

  .workshop-right img{
    // margin-bottom: -3rem;
    max-width: 80%;
    align-self: center;
    margin-top: 1rem;
  }
}

@media (min-width: 1400px){
  .masterclass-paragraphe{
    margin-top: 5rem;
    font-size: 1.4vw;
  }

  .masterclass-subtitle{
    font-size: 2.3vw;
  }
  // .workshop-left .masterclass-paragraphe{
  //   font-size: 1.3rem;
  // }

  // .workshop-right .workshop-signup-head{
  //   font-size: 2rem;
  //   margin-bottom: 1rem;
  // }
  // .workshop-right input{
  //   font-size: 1rem;
  //   padding: .9rem 1.5rem;
  // }
  // .workshop-right button{
  //   font-size: 1.2rem;
  //   padding: .9rem 1.5rem;
  // }

}
