<div class="main-navbar d-flex justify-content-between align-content-center container mx-auto py-4">
  <%= image_tag "logo-vdl-white", class:'vdl-logo' %>

  <ul class="navbar-items">
    <li><a href="" class="navbar-item">apresentação</a><span ckass="navbar-dot">.</span></li>
    <li><a href="" class="navbar-item">masterclass</a><span ckass="navbar-dot">.</span></li>
    <li><a href="" class="navbar-item">sobre a vida do livre</a><span ckass="navbar-dot">.</span></li>
  </ul>
</div>
