<div class="main-navbar d-flex justify-content-between align-content-center mx-auto py-4"
    data-controller="navbar"
    data-action="scroll@window->navbar#updateNavbar">

  <%= image_tag "logo-vdl-white.png", class:'vdl-logo' %>

  <ul class="navbar-items">
    <li class="navbar-item"><a href="#apresentacao" class="navbar-link">apresentação</a><span class="navbar-dot">.</span></li>
    <li class="navbar-item"><a href="#video" class="navbar-link">masterclass</a><span class="navbar-dot">.</span></li>
    <li class="navbar-item"><a href="#sobre" class="navbar-link">sobre a vida do livre</a> <span class="navbar-dot">.</span></li>
  </ul>
</div>
