

<section class="hero px-2 px-md-4" id="apresentaçao">
  <div class="hero-title-div">
    <h1 class="hero-title">
  O Futuro do Livro: a revolução digital no mundo das publicações
    </h1>
  </div>

  <div class="hero-title-mobile">
    <h1 class="hero-title-mobile-first-line">O Futuro do Livro:</h1>
    <h1 class="hero-title-mobile-second-line">a revolução digital no mundo das publicações</h1>
  </div>

  <%# <div class="hero-description pb-4 pb-md-0">
    <p>Todos nós, que dedicamos a vida ao fazer e ao pensar o mundo dos livros, nos questionamos para onde caminha o futuro da mídia. Para falar sobre isso, convidei um dos maiores especialistas do mundo, John B. Thompson, professor de Cambridge e ministrante desta masterclass. </p>
    <p>Entre os temas abordados estão o crescimento constante da Amazon, storytelling de marcas, novas formas de monetização e o próprio conceito do que é um livro.</p>
    <p>Gostei muito do resultado, e como esse é um assunto que acredito ser urgente para nós e para o bem do nosso mercado, resolvi disponibilizar o conteúdo gratuitamente. Espero que gostem.</br> </br>Daniel Lameira</p>
  </div> %>
  <%= image_tag 'hero-arrow.png', class:'hero-arrow'%>
</section>

<section class="masterclass-sobre">
  <div class="masterclass-sobre-content">
    <div class="masterclass-sobre-icon">
      <%= image_tag 'masterclass-sticker.png', class:"masteclass-sticker"%>
    </div>
    <p>Todos nós, que dedicamos a vida ao fazer e ao pensar o mundo dos livros, nos questionamos para onde caminha o futuro da mídia. Para falar sobre isso, convidei um dos maiores especialistas do mundo, John B. Thompson, professor de Cambridge e ministrante desta masterclass.
    </p>
    <p>Entre os temas abordados estão o crescimento constante da Amazon, storytelling de marcas, novas formas de monetização e o próprio conceito do que é um livro.
    </p>
    <p>Gostei muito do resultado, e como esse é um assunto que acredito ser urgente para nós e para o bem do nosso mercado, resolvi disponibilizar o conteúdo gratuitamente. Espero que gostem.
    </p>
    <h2>Daniel Lameira</h2>
    <span>Organizador da Masterclass</span>
  </div>

</section>

<section class="video" id="video">

  <div class="video-container">
  <iframe src="https://player.vimeo.com/video/835584509?h=52106e23f8&title=0&byline=0&portrait=0" width="560" height="315" style="max-width:100%" frameborder="1" bordercolor="black" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="video-description">
    <h2 class="masterclass-john">JOHN B. THOMPSON</h2>
    <p>John B. Thompson é professor emérito de sociologia
      da Universidade de Cambridge e Emeritus Fellow do Jesus College.
    </p>
    <p>
    Um dos mais relevantes estudiosos da mídia na formação das sociedades modernas,
    é autor dos livros <em>Mercadores de cultura: o mercado editorial no século XXI </em>(2013)
    e <em>As guerras do livro: a revolução digital no mundo editorial</em> (2021),
    publicados no Brasil pela editora Unesp.
    </p>
    <p class="video-description-last-paragraph">Professor emérito de sociologia da Universidade de Cambridge e Emeritus Fellow do Jesus College. Um dos mais relevantes estudiosos da mídia na formação das sociedades modernas, é autor dos livros <em>Mercadores de cultura: o mercado editorial no século XXI </em>(2013) e <em>As guerras do livro: a revolução digital no mundo editorial</em> (2021), publicados no Brasil pela editora Unesp.</p>
  </div>

</section>

<section id="sobre" class="sobre">
  <p class="sobre-paragraph">
    Vida do Livro é um curso e uma plataforma de conhecimento sobre histórias e mercado editorial.
     Criada em 2015, recebe em suas edições diferentes vozes que desmistificam o universo dos livros
     e debatem horizontes para o seu futuro.
  </p>

  <div class="sobre-logos">
    <p>© Vida do Livro</p>
    <%= image_tag 'seiva_pb.png', class:"seiva-logo"%>
    <%= image_tag 'logo-sonhorama.png' %>
  </div>

</section>
