<div class="workshop-container">

  <section class="workshop-left">

    <div class="masterclass-head">
      <p class="masterclass-headline">VIDA DO LIVRO apresenta</p>
      <%= image_tag 'masterclass-inedita.png' %>
      <h1 class="masterclass-title">O Futuro do Livro</h1>
      <p class="masterclass-subtitle">A revolução digital no mundo das publicações</p>
    </div>

    <p class="masterclass-paragraphe">
      com <strong>John B. Thompson,</strong></br>
      um dos maiores especialistas em mercado
      editorial do mundo, professor da Universidade
      de Cambridge e autor dos livros <em>Mercadores
      de cultura</em> e <em>As guerras do livro</em>.
    </p>

  </section>

  <section class="workshop-right">
    <div class="workshop-signup">
      <h2 class="workshop-signup-head">Inscreva-se para liberar o acesso</h2>
      <input type="text" placeholder="Nome">
      <input type="text" placeholder="E-mail">
      <button type="submit">Assistir agora</button>
    </div>

    <%= image_tag 'john.png' %>
  </section>
</div>
