
.main-navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2.5rem;
  z-index: 2;

  ul{
    list-style: none;
  }
}

.vdl-logo{
  max-width: 100px;
  max-height: 40px;
}

.navbar-items{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3rem;
  margin-bottom: 0;
}
.navbar-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'NB';
  font-size: .75rem;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  gap: 1rem;
  cursor: pointer;
}

.navbar-item a{
  color: $creme;
  text-decoration: none;
  padding: .2rem .5rem;
}
.navbar-dot{
  color: white;
  font-family: 'Wingdings';
  padding-right: .5rem;
}

.navbar-item:hover {
  background-color: $creme;
}
.navbar-item:hover a,
.navbar-item:hover .navbar-dot {
  color: black;
}
